einops==0.8.1
h5py==3.14.0
julius==0.2.7
librosa==0.11.0
lightning==2.5.2
matplotlib==3.10.3
natsort==8.4.0
nnAudio==0.3.3
numba==0.61.2
numpy==2.*
omegaconf==2.3.0
onnx==1.18.0
onnxruntime-gpu==1.22.0
onnxscript==0.3.2
onnxsim==0.4.36
praat-parselmouth==0.4.6
pydub==0.25.1
pyreaper==0.0.11
pyworld==0.3.5
soundfile==0.13.1
tensorboard
torch
torchaudio
torchdata==0.11.0
torchmetrics[audio]==1.8.0
tqdm==4.67.1
